.popup-menu__container
  padding: 20px
  width: 100%
  position: center
  background-color: $bg-color__menu
  min-height: 360px
  display: grid
  grid-template-rows: min-content auto
  align-items: center
  box-sizing: border-box

  @media (min-width: $screen-tablet)
    height: 100%
    width: 480px
    left: 0
