.header
  margin: 0
  padding: 0
  min-height: 426px
  display: flex
  justify-content: flex-end
  align-items: center
  position: relative
  overflow: hidden
  position: relative
  background-color: $bg-color__header
  z-index: 0

  @media (min-width: $screen-tablet)
    min-height: 646px

  @media (min-width: $screen-desktop)
    min-height: 900px
